// Palette
$color-background: #ECEEDF;   // main page background
$color-primary:    #BBDCE5;   // light blue, for buttons or accents
$color-secondary:  #D9C4B0;   // beige, for cards or panels
$color-accent:     #CFAB8D;   // darker terracotta, for CTA/buttons/highlight
$color-accent-border: #cfab8dbb;   // darker terracotta transparent, borders
$color-text:       #333333;   // default text color
